<header>
    <div>
        <h1>{{ title }}</h1>
        {% if description %}<h3 class="subtitle">{{ description }}</h3>{% endif %}
    </div>
    {% if image %}<img class="icon" width="64px" height="64px" src="{{ image }}" alt="Icon for {{ title }}.">{% endif %}
    {% if link %}<a class="product-link" href="{{ link }}">{{ link | getLinkText }}</a>{% endif %}
</header>